
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 me-md-auto font-weight-normal">Store</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" *ngIf="!isLoggedIn()" routerLink="/auth/login">Iniciar sesión</a>
      <a class="p-2 text-dark" *ngIf="isLoggedIn()"  routerLink="/admin/product">Productos</a>
      <a class="p-2 text-dark" *ngIf="isLoggedIn()" (click)="logout()">Cerrar Sesión</a>
    </nav>
    <a class="btn btn-outline-primary" *ngIf="!isLoggedIn()" routerLink="/auth/register">Registro</a>
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
