<div class="container">
  <h2>Lista de productos</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products |  paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: pagination.totalCount }">
        <td>{{ product.id }}</td>
        <td>{{ product.title }}</td>
        <td><div [innerHTML]="product.description"></div></td>
        <td>{{ product.price }}</td>
        <td>
          <button class="btn btn-primary" (click)="editProduct(product.id)">
            Editar
          </button>
          <button class="btn btn-danger" (click)="deleteProduct(product.id)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  <pagination-controls
    (pageChange)="currentPage = $event"
  ></pagination-controls>
