<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-5 col-sm-10">
      <h2 class="text-center">Restablecer contraseña</h2>
      <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" class="my-3">
        <div class="form-group">
          <label for="password">Nueva Contraseña:</label>
          <input type="password" class="form-control" id="password" formControlName="password" required>
          <div *ngIf="resetPasswordForm.get('password')!.touched && resetPasswordForm.get('password')!.errors?.['required']" class="text-danger">
            La contraseña es requerida.
          </div>
        </div>
        <div class="form-group">
          <label for="password2">Confirma la Contraseña:</label>
          <input type="password" class="form-control" id="password2" formControlName="password2" required>
          <div *ngIf="resetPasswordForm.get('password2')!.errors?.['required']" class="text-danger">
            La confirmación de contraseña es requerida.
          </div>
          <div *ngIf="!passwordsMatch() && resetPasswordForm.get('password2')!.dirty && resetPasswordForm.get('password2')!.touched" class="text-danger">
            Las contraseñas no coinciden.
          </div>
        </div>
        <div class="form-group my-3">
          <button type="submit" class="btn btn-primary btn-block w-100" [disabled]="resetPasswordForm.invalid || !passwordsMatch()">Restablecer contraseña</button>
        </div>
      </form>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    </div>
  </div>
</div>
